In [ ]:
PATH_FILE_PREPROCESSED = './results/ds.parquet'
PATH_FILE_ELAPSE_TIME = './results/elapse_time.csv'
PATH_PREFIX_MODEL_LDA = './results/models_lda/'
PATH_PREFIX_MODEL_BERTOPIC = './results/models_bertopic/'
LDA_N_TRIAL = 2

In [ ]:
import pandas as pd

ds = pd.read_parquet(PATH_FILE_PREPROCESSED)
elapse_time = pd.read_csv(PATH_FILE_ELAPSE_TIME)

# LDA

In [2]:
from time import time

from gensim.corpora.dictionary import Dictionary
from gensim.models.ldamulticore import LdaMulticore
from gensim.models.coherencemodel import CoherenceModel
from utils import get_diversity, get_topics_lda
import optuna

optuna.logging.set_verbosity(optuna.logging.WARNING)

def lda(docs):
    docs = docs.dropna()
    dictionary = Dictionary(docs)
    corpus = [dictionary.doc2bow(doc) for doc in docs]
    def objective(trial, get_lda=False):
        num_topics = trial.suggest_int('num_topics', 5, 100)
        alpha = trial.suggest_categorical('alpha_categorical', ['symmetric', 'asymmetric', 'scalar'])
        eta = trial.suggest_categorical('eta_categorical', ['symmetric', 'auto', 'scalar'])
        if alpha == 'scalar':
            alpha = trial.suggest_float('alpha', 0.01, 1)
        if eta == 'scalar':
            eta = trial.suggest_float('eta', 0.01, 1)
        model = LdaMulticore(
            corpus=corpus,
            id2word=dictionary,
            num_topics=num_topics,
            alpha=alpha,
            eta=eta,
        )
        if get_lda:
            return model
        c = CoherenceModel(model, texts=docs, dictionary=dictionary, coherence='c_v')
        cs = c.get_coherence()
        ts = get_diversity(get_topics_lda(model, dictionary))
        return cs * ts

    t_start = time()
    study = optuna.create_study(direction='maximize')
    study.optimize(objective, n_trials=LDA_N_TRIAL)

    best_trial = study.best_trial
    best_lda = objective(best_trial, get_lda=True)
    t_end = time()

    return {
        'model': best_lda,
        'time': t_end - t_start,
    }

In [3]:
from tqdm import tqdm

def save_models_lda():
    r_time = []
    for v in (tds := tqdm(ds.columns)):
        tds.set_description(f'Training {v}')
        if 'B' in v: 
            r_time.append(0)
            continue
        model = lda(ds[v])
        model['model'].save(f'{PATH_PREFIX_MODEL_LDA}{v}')
        r_time.append(model['time'])
    elapse_time['lda_training'] = pd.Series(r_time)

In [4]:
save_models_lda()

Training DCLWN: 100%|██████████| 62/62 [32:00<00:00, 30.98s/it]

In [5]:
elapse_time

   variant       nlp  preprocessing  lda_training
0       dB  3.981868       0.008994      0.000000
1       DB  3.981868       0.008994      0.000000
2       dC  3.981868       6.190705     31.123920
3       DC  3.981868       6.190705     36.799814
4       dF  3.981868       1.021995     25.599005
..     ...       ...            ...           ...
57    DSWN  3.981868       4.215699     41.570742
58   dCLFN  3.981868       1.920664     36.367552
59   DCLFN  3.981868       2.560665     28.189252
60   dCLWN  3.981868       4.212472     37.421425
61   DCLWN  3.981868       5.029113     37.239891

[62 rows x 4 columns]

# BERTopic

In [6]:
from time import time

from bertopic import BERTopic
import pandas as pd

embedding_model = "paraphrase-multilingual-MiniLM-L12-v2"

def save_models_bertopic():
    r_time = []
    for v in (tds := tqdm(ds.columns)):
        if 'T' in v: 
            r_time.append(0)
            continue
        tds.set_description(f'Training {v}')
        t_start = time()
        docs = ds[v].dropna()
        docs = [' '.join(doc) for doc in docs] if 'B' not in v else docs
        bertopic = BERTopic(language='multilingual', embedding_model=embedding_model)
        model = bertopic.fit(docs)
        t_end = time()
        model.save(
            f"{PATH_PREFIX_MODEL_BERTOPIC}{v}",
            serialization="safetensors",
            save_embedding_model=embedding_model,
            save_ctfidf=True,
        )
        r_time.append(t_end - t_start)
    elapse_time['bertopic_training'] = pd.Series(r_time)

In [7]:
save_models_bertopic()

Training DCLWN: 100%|██████████| 62/62 [2:24:57<00:00, 140.28s/it]

In [8]:
elapse_time

   variant       nlp  preprocessing  lda_training  bertopic_training
0       dB  3.981868       0.008994      0.000000         396.342583
1       DB  3.981868       0.008994      0.000000          71.353559
2       dC  3.981868       6.190705     31.123920         321.078603
3       DC  3.981868       6.190705     36.799814          62.603010
4       dF  3.981868       1.021995     25.599005         183.193866
..     ...       ...            ...           ...                ...
57    DSWN  3.981868       4.215699     41.570742          54.421326
58   dCLFN  3.981868       1.920664     36.367552         187.597063
59   DCLFN  3.981868       2.560665     28.189252          56.617482
60   dCLWN  3.981868       4.212472     37.421425         213.135187
61   DCLWN  3.981868       5.029113     37.239891          54.678262

[62 rows x 5 columns]

In [9]:
elapse_time.to_csv(PATH_FILE_ELAPSE_TIME, index=False)